body{
  background: url(../images/stars-bg.jpg) no-repeat;
  background-size: cover;
}
body, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
  font-family: 'source-sans-pro', 'Source Sans Pro', 'Proxima Nova', "Helvetica Neue", sans-serif;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
  font-weight: 100;
  text-transform: none;
}
a, .reveal a:not(.image){
  /*color: #6e5eb2;*/
}
.container{
  overflow: hidden;
  height: 100vh;
}
.presentation, .frame{
  height: 100%;
  min-height: 100px;
  float: left;
  transition: all 600ms 0ms !important;
}
.presentation{
  width: 100%;
}
.frame{
  width: 0%;
  background: white;
  position: relative;
  z-index: 10000;
}

.full-presentation .presentation{
  width: 100%;
}
.full-presentation .frame{
  width: 0%;
}
.full-frame .presentation{
  width: 0%;
}
.full-frame .frame{
  width: 100%;
}
.split-layout1 .presentation{
  width: 50%;
}
.split-layout1 .frame{
  width: 50%;
}
.split-layout2 .presentation{
  width: 50%;
  float: right;
}
.split-layout2 .frame{
  width: 50%;
}
.frame iframe{
  height: 100%;
  width: 100%;
  border:none;
}
.reveal{
  max-width: 717px;
  margin: 0 auto;
}
a.commit-link{
  display: block;
  border-radius: 10px;
  background: rgba(255,255,255,0.2);
  padding:10px 20px;
  width: 160px;
  margin: 40px auto 0;
  transition: all 300ms 0ms !important;
  text-align: center;
}
a.commit-link:hover{
  background: rgba(255,255,255,0.4);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
}
a.commit-link.working{

}

a.commit-link.working {

  position: relative;
  overflow: hidden;
}
a.commit-link.working:before {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  /*background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #56aa1c), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, #56aa1c), color-stop(.75, #56aa1c), color-stop(.75, transparent), to(transparent));*/
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent);
  z-index: 1;
  -webkit-background-size: 20px 20px;
  background-size:         20px 20px;
  -webkit-animation: move 2s linear infinite;
  overflow: hidden;
}

/* PROGRESS BAR - ANIMATION */
@-webkit-keyframes move {
  0% {background-position: 0 0;}
  100% {background-position: 30px 30px;}
}


p.test{
  background: rgba(255,255,255,0.15);
  padding:14px 20px;
  font-size: 60%;
  display: inline-block;
  text-align: center;
  margin: 40px auto 0 auto;
  color: rgba(255,255,255,0.45);
}
p.test code{
  color: #eee;
}
p.test:before{
  content: "Test it: ";
}
.reveal p{
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 130%;
}

.reveal .controls{
  left:10px;
  right: auto;
}

.reveal pre code{
  font-size: 125%;
  line-height: 1.6;
  padding: 20px;
  max-height: 500px;
}

.reveal h1 {
  font-size: 2.6em;
  text-shadow: none;
}

.reveal h2{
  font-size: 2em;
  line-height: 1;
}
.reveal .progress{
  z-index: 20000;
}
.reveal ul li{
  margin-bottom: 10px;
}
.reveal section .noborder{
  border:none;
  background: none;
}
.reveal .slides>section, .reveal .slides>section>section{
  padding: 0;
}

.bigger{
  transform:scale(1.6);
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.reveal .file{
  font-size: 80%;
  color: rgba(255,255,255,0.5);
  font-weight: 100;
}
.reveal .file code{
  color: white;
}